@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@(Network.IsProxy ? "" : "hidden")">
	<div class="title">@(Network.OwnerConnection.DisplayName)</div>
</root>

@code
{

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Network.OwnerConnection.DisplayName );
}