@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@(player.IsSpectating && !(Network.IsProxy) ? "" : "hidden")">
	<div class="title">@MyStringValue</div>
</root>

@code
{
	[Property]
	public Spectator player { get; set; } = Spectator.Local;

	[Property, TextArea] public string MyStringValue { get; set; } = "You are now spectating.";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( player.IsSpectating );
}